*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;

}

.main{
    width: 100%;
}
.nav1{
    width: 100%;
    background-color: rgb(240, 244, 243);
    height: 60px;
    line-height: 80px;
    display:flex;
    justify-content:space-between;

}

nav{
    width: 100%;
    background-color:#e6b975;
    height: 80px;
    line-height: 80px;
    display:flex;
    justify-content:space-between;
    

}
.logo1 img{
    width: 158%;
    height: 110%;
}



a{
    text-decoration: none;
    color:#2C2A58;
    font-size: 18px;
    transition: 0.5s all ease;

}

ul{
    margin: 0px;
    margin-right: 100px;

}

ul li{
    float: left;
    padding: 0px 13px;
    list-style: none;
margin-left: 5px;
}
ul li a:hover{
    color:#fff;
}
.head{
background: url(welc.jpg) no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
}


.overlay{
    background: rgba(32, 51, 103, 0.566);
    height: 80vh;
    width: 100%;
}




.content{
    position:absolute;
    top: 48%;
    left: 50%;
    transform: translate(-40%, -40%);
}
.message h3{
    font-size: 36px;
    color: #fff;
text-align: center;
}
.message p{
    font-size: 16px;
    color: #fff;
text-align: center;
font-style: italic;
margin-top: 20px;
}

.button{
font-size: 15px;
    text-decoration: none;
    color:#e6b975;
    background-color: #2C2A58;
    border-radius: 5px;
    letter-spacing: 1px;
    padding: 15px;
}
.button:hover{
    background-color: #2c287a;
    transition: 0.4s ease;
}

.why h2{
    margin-top: 40px;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    color:#2C2A58;
    letter-spacing: 1.1px;
    line-height: 21px;
}
.why p{
    
    font-size: 17px;
    text-align: center;
    margin-bottom: 40px;
    color:#2C2A58;
    letter-spacing: 1.1px;
    line-height: 21px;
}

.title p{
    text-align: center;
    padding-top: 20px;
    font-size: 34px;
    color:#2C2A58;
    font-weight: 500;
    background-color: #BD9C6C;
    padding-bottom: 23px;
}


.services{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin :14px auto;
    text-align: center;
}
.card{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 10px;
    border-radius: 10px;
    cursor: pointer ;
}
.card:hover{
    background-color: #f0f0f0;
}

.card h2{
font-size: 28px;
margin-bottom: 5px;
color:#2C2A58;
}
.card p{
    font-size: 17px;
    margin-bottom: 15px;
    line-height: 1.5;
    color:#5e5e5e;
} 
.button{
    font-size: 15px;
    text-decoration: none;
    color: #2C2A58;
    background-color: #BD9C6C;
    padding: 8px 12px;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: 600;
}
.button:hover{
    background-color: #2c287a;
    transition: 0.4s ease;
    color: #BD9C6C;
}
@media screen and (max-width: 940px){
    .services{
        display: flex;
        flex-direction: column;
    }
    .card{
width: 85%;
display:flex;
margin: 20px 0px;
    }
}





.footer{
    width: 100%;
    display: flex;
    padding: 15px;
    color: #BD9C6C;
    background-color: #2C2A58;
    margin: 15px;
}
.footer >*{
    flex: 1 0px;
}

.footer-bottom img{
    width:15%;
    height: 8%;
 
}
.footer h2{
    font-size: 17px;
    font-weight: 600;
    text-decoration: uppercase;
    color:#BD9C6C;
    letter-spacing: 3px;
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
}
.footer ul li a{
    font-size: 15px;
}
.footer ul{
    list-style: none;
    padding-left: 0;
}
.footer li{
    line-height: 1.8em;
    color:#BD9C6C;
}
.footer a{
    text-decoration: none;
}

.cup a{
    color:#BD9C6C;
}

.footer-bottom{
    text-align: center;
    color:#BD9C6C;
    padding-top: 50px;
}


.socials{
    margin-top: 20px;
}
.socials a{

width: 100px;
height: 100px;
margin-right: 10px;
background-color:#BD9C6C;
border-radius: 50%;

}
.social a i{
    color:#BD9C6C;
    padding: 10px 20px;
    font-size: 20px;
   
}
.btn{
    border: none;
    background: #BD9C6C;
    color:#2C2A58;
    padding: 10px 30px;
}
.search-box input{
    height: 36px;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px){
    .footer{
        padding: 15px;
    }
}



@keyframes animate{
0%{
    transform: scaleY(0);
}
}