*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;

}

.main{
    width: 100%;
}
.nav1{
    width: 100%;
    background-color: rgb(240, 244, 243);
    height: 60px;
    line-height: 80px;
    display:flex;
    justify-content:space-between;

}

nav{
    width: 100%;
    background-color:#e6b975;
    height: 80px;
    line-height: 80px;
    display:flex;
    justify-content:space-between;
    

}
.logo1 img{
    width: 158%;
    height: 110%;
}

.logo a{
    font-size: 20px;
    color:#2C2A58;
    font-weight: bold;
    margin-left: 80px;

}

a{
    text-decoration: none;
    color:#2C2A58;
    font-size: 18px;
    transition: 0.5s all ease;

}

ul{
    margin: 0px;
    margin-right: 100px;

}

ul li{
    float: left;
    padding: 0px 13px;
    list-style: none;
margin-left: 5px;
}
ul li a:hover{
    color:#fff;
}
.head{
    background: url(head.jpeg) no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100%;
}


.overlay{
    background: rgba(2, 15, 52, 0.566);
    height: 70vh;
    width: 100%;
}




.content{
    position:absolute;
    top: 48%;
    left: 50%;
    transform: translate(-40%, -40%);
}
.message h3{
    font-size: 36px;
    color: #fff;
text-align: center;
}
.message p{
    font-size: 16px;
    color: #fff;
text-align: center;
font-style: italic;
margin-top: 20px;
}

.button{
font-size: 15px;
    text-decoration: none;
    color:#e6b975;
    background-color: #2C2A58;
    border-radius: 5px;
    letter-spacing: 1px;
    padding: 15px;
}
.button:hover{
    background-color: #2c287a;
    transition: 0.4s ease;
}